---
import { Image } from "astro:assets";

import cLogo from "@assets/images/tech-icons/c.x360.webp";
import cppLogo from "@assets/images/tech-icons/cpp.x360.webp";
import javascriptLogo from "@assets/images/tech-icons/javascript.x360.webp";
import typescriptLogo from "@assets/images/tech-icons/typescript.x360.webp";
import pythonLogo from "@assets/images/tech-icons/python.x360.webp";
import phpLogo from "@assets/images/tech-icons/php.x360.webp";
import laravelLogo from "@assets/images/tech-icons/laravel.x360.webp";
import fastapiLogo from "@assets/images/tech-icons/fastapi.x360.webp";
import vueLogo from "@assets/images/tech-icons/vue.x360.webp";
import nuxtLogo from "@assets/images/tech-icons/nuxt.x360.webp";
import astroLogo from "@assets/images/tech-icons/astro.x360.webp";
import awsLogo from "@assets/images/tech-icons/aws.x360.webp";
import terraformLogo from "@assets/images/tech-icons/terraform.x360.webp";
import linuxLogo from "@assets/images/tech-icons/linux.x360.webp";
import nginxLogo from "@assets/images/tech-icons/nginx.x360.webp";

type LanguageName =
  | "C"
  | "CPP"
  | "Javascript"
  | "Typescript"
  | "Python"
  | "PHP"
  | "Terraform";
type FrameworkName =
  | "Laravel"
  | "FastAPI"
  | "Vue"
  | "Nuxt"
  | "Astro"
  | "Linux"
  | "Nginx"
  | "AWS";

const iconMetadatas: { [key in LanguageName | FrameworkName]: ImageMetadata } =
  {
    C: cLogo,
    CPP: cppLogo,
    Javascript: javascriptLogo,
    Typescript: typescriptLogo,
    Python: pythonLogo,
    PHP: phpLogo,
    Terraform: terraformLogo,
    Laravel: laravelLogo,
    FastAPI: fastapiLogo,
    Vue: vueLogo,
    Nuxt: nuxtLogo,
    Astro: astroLogo,
    Linux: linuxLogo,
    Nginx: nginxLogo,
    AWS: awsLogo,
  };

function getIconMetadata(name: LanguageName | FrameworkName): ImageMetadata {
  return iconMetadatas[name];
}

const languageSkills: LanguageName[] = [
  "C",
  "CPP",
  "Javascript",
  "Typescript",
  "Python",
  "PHP",
];
const backendSkills: FrameworkName[] = ["Laravel", "FastAPI", "Nginx"];
const frontendSkills: FrameworkName[] = ["Vue", "Nuxt", "Astro"];
const infraSkills: (LanguageName | FrameworkName)[] = [
  "AWS",
  "Terraform",
  "Linux",
];
---

<div class="skillSets">
  <div>
    <h2 class="mb-3 text-xl font-bold">Language</h2>
    <div class="flex space-x-2">
      {
        languageSkills.map(name => (
          <div class="flex h-12 items-center justify-start">
            <Image
              src={getIconMetadata(name)}
              alt={name}
              title={name}
              class="h-12 object-contain"
              style={{ width: "auto", maxWidth: "100%", height: "100%" }}
            />
          </div>
        ))
      }
    </div>
  </div>
  <div>
    <h2 class="mb-3 text-xl font-bold">Backend</h2>
    <div class="flex space-x-2">
      {
        backendSkills.map(name => (
          <div class="items-left flex h-12 justify-start">
            <Image
              src={getIconMetadata(name)}
              alt={name}
              title={name}
              class="h-12 object-contain"
              style={{ width: "auto", maxWidth: "100%", height: "100%" }}
            />
          </div>
        ))
      }
    </div>
  </div>
  <div>
    <h2 class="mb-3 text-xl font-bold">Frontend</h2>
    <div class="flex space-x-2">
      {
        frontendSkills.map(name => (
          <div class="flex h-12 items-center justify-start">
            <Image
              src={getIconMetadata(name)}
              alt={name}
              title={name}
              class="h-12 object-contain"
              style={{ width: "auto", maxWidth: "100%", height: "100%" }}
            />
          </div>
        ))
      }
    </div>
  </div>
  <div>
    <h2 class="mb-3 text-xl font-bold">Infra</h2>
    <div class="flex space-x-2">
      {
        infraSkills.map(name => (
          <div class="flex h-12 w-12 items-center justify-start">
            <Image
              src={getIconMetadata(name)}
              alt={name}
              title={name}
              class="h-12 object-contain"
              style={{ width: "auto", maxWidth: "100%", height: "100%" }}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
